requests

psycopg2

libsasscompiler

django
django-storages
django-pipeline
django-libsass
django-webpack-loader
django-cors-headers
django-autoslug
django-extensions

pytz
pip-tools==4.5.1
Fabric3
cryptography>=3.2  # pinned for now, from Fabric3 via paramiko

markdown

# testing
pytest==3.7.0
pytest-django
factory-boy
pytest-factoryboy