$event-types: 'legislation', 'caselaw', 'world', 'us';

// define colors
$event-colors: (
        'legislation': $color-legislation,
        'caselaw': $color-caselaw,
        'world': $color-world,
        'us': $color-us,
);

$group-colors: (
        'mexican': $color-purple,
        'jewish': $color-red,
        'japanese': $color-turquoise,
        'indian': $color-navy,
        'chinese': $color-green,
);

// event border colors
@each $event-name, $event-color-value in $event-colors {
  .event-container.event-type-#{$event-name} {
    border: 1px solid $color-gray-light-medium;
  }
  .event-details-container.event-type-#{$event-name} {
    border: 1px solid $color-gray-light-medium;
    .small-title {
      color: #{$event-color-value};
    }
    .event-type {
      background-color: #{$event-color-value};
      color: $color-white;
      padding: 0.5em 1em;
    }
  }
  .event-type.event-type-#{$event-name} {
    color: $event-color-value;
  }

}

// group colors
@each $group-name, $group-color-value in $group-colors {
  .group-symbol.group-name-#{$group-name} {
    fill: $group-color-value;
  }
}

p {
  margin: 0;
}

.event-list-container {
  padding-left: 3em;
}

ul.event-list {
  display: grid;
  grid-column-gap: 1em;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 3em;
  padding: 0;
  margin-bottom: 3em;
}

.event-year-section {
  width: 100%;
  h1 {
    font-weight: 600;
    letter-spacing: 0.08em;
  }
}

.event-list-item {
  grid-area: auto;
  h3 {
    margin: 0;
  }
  &.event-type-world, &.event-type-us {
    background-color: $color-black;
    color: $color-white;
  }
}

.event-list-detail-view {
   padding-left: 0;
}

.event-container {
  display: grid;
  padding: 1em;
  list-style: none;
  cursor: pointer;
  box-shadow: 0 0 4px 0 rgba(47, 47, 47, 0.50);
  background-color: $color-white;
  ul {
    padding: 0;
  }
  .group-relationships {
    li {
      float: left;
      margin: 0.2em;
    }
  }
}

.event-type {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 600;
}

.event-description-short {
  font-size: 0.9em;
}

// detail view
.detail-view {
  //todo: add @media
  width: 80%;
  margin: 0 auto;
}
.event-details-container {
  background-color: $color-white;
  display: grid;
  grid-template-columns: 12em 1fr;
  box-shadow: 0 0 4px 0 rgba(47, 47, 47, 0.50);
  .event-content {
    padding: 1em;
  }
  .col-1 {
    border-right: 1px solid $color-gray-light-medium;
  }
  .col-2 {
    padding: 1em;
  }
  .small-title {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 0.8em;
    margin-bottom: 0.1em;
  }
  ul.group-list {
    padding-left: 0;
    margin: 0;
  }
  li {
    list-style: none;
  }
}