$event-types: 'legislation', 'caselaw', 'world', 'us';

p {
  margin: 0;
}

.event-list-container {
  padding-left: 3em;
}

ul.event-list {
  display: grid;
  grid-column-gap: 1em;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 3em;
  padding: 0;
  margin-bottom: 3em;
  .event-container {
    margin-left: 0;
    border-radius: 0;
  }
}

.event-year-section {
  width: 100%;

  h1 {
    font-weight: 600;
    letter-spacing: 0.08em;
  }
}

.event-list-item {
  grid-area: auto;

  h3 {
    margin: 0;
  }

  &.event-type-world, &.event-type-us {
    background-color: $color-black;
    color: $color-white;
  }
}

.event-list-detail-view {
  padding-left: 0;
}

.small-event-card-container {
  padding: 1em;
}

.event-container {
  list-style: none;
  cursor: pointer;
  box-shadow: 0 0 4px 0 rgba(47, 47, 47, 0.50);
  background-color: $color-white;
  h3 {
    margin: 0.2em 0;
  }

  ul {
    padding: 0;
  }

  .group-relationships {
    margin-top: -3px;
    display: inline-block;

    li {
      float: left;
      margin: .1em;
    }
  }
}

.event-type {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 600;
  padding: .5em 1em;
}

.event-info {
  padding: 1em;
  max-height: 480px;
  overflow-y: scroll;
}

.event-description-short {
  font-size: 0.9em;
  margin-top: -5px;
}

// detail view
.detail-view {
  //todo: add @media
  width: 80%;
  margin: 0 auto;
}

.event-details-container {
  background-color: $color-white;
  display: grid;
  grid-template-columns: 12em 1fr;
  box-shadow: 0 0 4px 0 rgba(47, 47, 47, 0.50);
  line-height: 1.6em;

  h1 {
    line-height: 1.1em
  }

  .col-1 {
    border-right: 1px solid $color-gray-light-medium;
  }

  .col-2 {
    padding: 1em;

    &.event-main-content {
      padding: 0;
      max-height: 550px;
      overflow-y: scroll;
    }
    .event-content {
      width: 90%;
      margin: 0 auto;
    }
  }

  .small-title {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 0.8em;
    margin-bottom: 0.1em;
    &:first-child {
      margin-top: 0;
    }
  }

  ul {
    padding-left: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }

  .political_dissidents {
    circle {
      top: 2px;
      position: relative;
      fill: $color-black;
    }
  }

  .group-symbol {
    margin-right: 3px;
  }
}