.timeline {
  @for $i from -0 through 100 {
    .span#{$i} {
      grid-column-end: span $i;
    }
  }
  @for $i from -0 through 200 {
    .col-#{$i} {
      grid-column-start: $i;
    }
  }
  .year-label {
    text-align: center;
    border-bottom: 1px solid $color-black;
    width: 100%;
    display: inline-block;
  }
  .container-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(30px, auto);
    grid-auto-flow: column;
    grid-row-gap: 1em;
    white-space: nowrap;
    grid-auto-columns: 10em;
  }
  .event-container {
    //padding-left: 1em;
    //padding-right: 1em;
    .event-type {
      width: 100%;
    }
  }
}
