.timeline {
  @for $i from -0 through 100 {
    .span#{$i} {
      grid-column-end: span $i;
    }
  }
  @for $i from -0 through 200 {
    .col-#{$i} {
      grid-column-start: $i;
    }
  }
  .squiggly-line-container {
    position: relative;
    height: 50px;
  }
  .line {
    position: absolute;
    height: 10px;
    width: 200%;
    transform: translate(-25%) scale(0.5);
  }

  .line2 {
    background: linear-gradient(45deg, transparent, transparent 49%,
            $color-black 49%, transparent 60%);
  }
  .line3 {
    background: linear-gradient(-45deg, transparent, transparent 49%,
            $color-black 49%, transparent 60%);
  }
  .line {
    background-size: 20px 20px;
  }

  .year-label {
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    border-bottom: 1px solid $color-black;
    display: inline-block;
    &.squiggle {
      border-bottom: 0;
      top: 1.4em;
      position: relative;
      path {
        fill: transparent;
        stroke: $color-black;
        stroke-width: 5px;
      }
    }
  }
  .container-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px repeat(auto-fit, 200px);
    grid-auto-flow: column;
    grid-row-gap: 0.4em;
    grid-auto-columns: 10em;
  }
  .event-container {
    padding: 0;
    box-shadow: 0 0 4px 0 rgba(47, 47, 47, 0.50);
    display: inline-block;
    margin-left: 0.4em;

    .event-type {
      padding: 0.2em 0.4em;
      font-size: 14px;
      letter-spacing: 0.27px;
    }
    .event-contents {
      padding: 0.2em 0.4em;
    }
    .event-description-short {
      height: 75px;
    }
    .event-name {
      font-weight: 600;
      font-size: 20px;
      line-height: 1.1em;
      color: #2F2F2F;
      letter-spacing: 0.46px;
    }
  }
  .group-list {
    float: right;
    margin: 0;
    //position: absolute;
    //bottom: 0;
  }
  .group-list li {
    list-style: none;
  }
  $event-colors: (
          'legislation': #276E76,
          'caselaw': #0075FF,
          'world': #6F2E4C,
          'us': #8E67C0
  );
  @each $event-name, $event-color-value in $event-colors {
    .event-type.event-type-#{$event-name} {
      background-color: $event-color-value;
      color: $color-white;
      opacity: 1;
    }
    .event-container {
      border: 1px solid $color-gray-light-medium;
    }
  }

}
