.toggles-menu {
  background-color: $color-dark;
  color: $color-white;
  z-index: 8;
  border-top: 0.5px solid $color-gray-light;
  .zoom-level-btn {
    float: left;
    cursor: pointer;
    circle {
      fill: $color-gray-medium;
    }
    path {
      stroke: $color-black;
    }

    &.active {
      circle {
        fill: $color-blue-bright;
      }
      path {
        stroke: $color-white;
      }

    }
  }
  .vue-slider-process {
    background-color: $color-gray-light;
  }
  .year-values {
    font-size: 18px;
    letter-spacing: 0.8px;
    li {
      float: left;
      &:last-child {
        float: right
      }
    }
  }
  h3 {
    font-weight: normal;
    margin-bottom: 0.4em;
    font-size: 22px;
    color: $color-blue-light;
    letter-spacing: 0.98px;
  }
  ul {
    margin: 0;
    li {
      line-height: 2em;
      font-size: 0.8em;
    }
  }
  svg {
    position: relative;
    top: 4px;
  }
  .event-types > li, .group-types > li {
    cursor: pointer;
  }
  .toggle-group {
    padding: 0 1.2em;
    border-top: 0.5px solid $color-gray-light;
    display: grid;
    &:last-child {
      padding-bottom: 4em;
    }
  }
  .icon {
    padding-right: 6px;
    margin-right: 0.3em;
    &.selectable-event {
      &.checked {
        circle {
          fill: $color-blue-bright;
        }
        path {
          stroke: $color-white;
          fill: transparent;
        }

      }
      &.unchecked {
        circle {
          fill: $color-gray-medium !important;
        }
        path {
          stroke: $color-white;
          fill: transparent;
        }
        .symbol-square, .symbol-circle {
          width: 14px !important;
          height: 14px !important;
        }

        .symbol-diamond, .symbol-oval, .symbol-polygon {
          margin-left: -1px;
        }

        .symbol-square {
          margin-left: 1px;
        }
      }
    }
  }
  .label {
    font-size: 13px;
  }
  .selectable-group {
    color: $color-gray-medium;
    &.active {
      color: $color-white;
    }
  }

}
