$font-family-sans-serif: "source-sans", "helvetica", sans-serif;
$font-family-monospace: "source-code", monospace;


// colors
$color-black: #2F2F2F;
$color-red: #EA3F00;
$color-pink: #C35387;
$color-purple: #8E67C0;
$color-navy: #29466B;
$color-turquoise: #3AA4B1;
$color-green: #3EB76A;
$color-gold: #D59914;

$color-gray-light: #FCFCFC;
$color-gray-medium: #979797;
$color-white: white;

$color-highlight: rgba(255, 243, 27, 0.47);
$color-yellow: #FFD21B;

// fonts
$font-weight-semibold: 600;
$font-weight-bold: 700;
