// define colors
$event-types: 'legislation', 'caselaw', 'world-event', 'us-event';

$event-colors: (
        'legislation': $color-purple,
        'caselaw': $color-turquoise,
        'world-event': $color-green,
        'us-event': $color-red
);


@each $event-name, $event-color-value in $event-colors {
  .event-container.event-type-#{$event-name} {
    border: 1px solid #{$event-color-value};
  }
}

